.movie-details{
    color: #666666;
}

.trailer{
    text-transform: uppercase;
    border: 1px solid #000;
    font-size: 1rem;
    color: #000;
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0;
    /*text-decoration: none;*/
}

.trailer:hover{
    opacity: .6;
}

a{
    text-decoration: none;
    color: #000!important;
}

a:hover{
    text-decoration: none!important;
    color: #000000!important;
    opacity: .6;
}